<form class="row g-3">
  <div class="col-12 col-md-12">
    <div class="row justify-content-center">
      <label for="cnjId" class="form-label fs-3 col-auto">Digite o CNJ: </label>
    </div>
    <div class="row justify-content-center">
      <div class=" col-11 col-sm-10 col-md-8 col-lg-6 col-xl-5 col-xxl-4">
        <div class="input-group mb-3">
          <input
            autofocus
            id="cnjId"
            type="text"
            maxlength="25"
            class="form-control shadow"
            placeholder="XXXXXXX-XX.XXXX.X.XX.XXXX"
            aria-label="CNJ"
            aria-describedby="button-addon2"
          />
          <button
            class="btn btn-lg btn-dark bg-gradient shadow"
            type="button"
            id="button-addon2"
          >
            <em class="bi bi-search me-2"></em>
            Pesquisar
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
