<section class="my-5">
    <div class="table-responsive">
      <table class="table table-dark table-striped table-hover table-bordered border-secondary caption-top shadow-sm text-center align-middle">
        <caption class="text-dark display-6"> Anexos </caption>
        <thead>
          <tr>
            <th scope="col" colspan="3">Tipo</th>
            <th scope="col" colspan="2">Data</th>
            <th scope="col" colspan="7">Amostra</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let item of paginator.paginatedList">
            <tr>
              <td colspan="3" class="text-truncate" style="max-width: 200px">
                <a  [href]="item.downloadUrl" target="_blank">{{ item.title }}</a>
              </td>
              <td colspan="2">
                {{ item.obtainingDate | date: "dd/MM/yyyy" }}
              </td>
              <td colspan="7" class="" style="max-width: 300px">
               <div class="overflow-auto" style="max-height: 150px;">
                {{ item.textContent }}
              </div>
              </td>
            </tr>
            <tr
              class="collapse bg-secondary bg-opacity-10"
              [id]="'collapseAttachment' + item.id"
            >
              <td colspan="12">
                <p class="m-3" style="max-width: 80vw">
                  {{ item.textContent }}
                </p>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  
    <app-paginador [paginator]="paginator"></app-paginador>
  </section>
  